<div class="container-fluid bg-black">
    <div class="bg-image min-vh-100" style="background: url('https://images.unsplash.com/photo-1607798748738-b15c40d33d57?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxMXx8Y29kZXxlbnwwfDB8fHwxNzMyNzk1MjA5fDA&ixlib=rb-4.0.3&q=80&w=1080') no-repeat center center / cover;">
        <div class="container position-relative mt-5 pb-5">
            <div class="row justify-content-center align-items-center gx-5">
                <div class="col-12 col-md-6 text-center text-md-start text-white">
                    <h4 class="fs-3 fw-semibold bg-dark bg-opacity-25 p-3 d-inline-block">Hello, My name is
                        <span class="text-success fs-4 font-serif">Samuel Abera</span>
                    </h4>
                    <h1 class="  mt-4 fs-2">I'm
                        <span class="typing-container libre-baskerville-bold text-success">
                            <div class="typing-texts">
                                <span>FullStack Developer</span>
                                <span>Frontend Developer</span>
                                <span>Backend Developer</span>
                                <span>Mobile Apps Developer</span>
                            </div>
                        </span>
                    </h1>
                    <p class="mt-4 fs-5 text-capitalize">Experienced full-stack developer with 4+ years of expertise in Laravel, NestJS, Nuxt.js, Next.js, Android, and some Flutter experience.</p>
                    <div class="mt-4 d-flex flex-column flex-md-row gap-3 justify-content-center justify-content-md-start">
                        <button class="btn btn-outline-success btn-lg px-4">Hire Me</button>
                        <button class="btn btn-outline-warning btn-lg px-4">Download CV</button>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img class="img-fluid w-75 w-md-50 rounded-circle rounded-md-0 border-md-0 border border-4 border-success border-opacity-50 rounded-end-md-5 rounded-start-md-5" src="https://techakim.com/sam/tg/7268/li/imgs/profile.jpg" alt="My Pic">
                </div>
            </div>
        </div>
    </div>
</div>